@font-face {
  font-family: 'Futura Book';
  src:
  url('../fonts/futura/FuturaBookC.woff') format('woff'),
  url('../fonts/futura/FuturaBookC.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Futura Demi';
  src:
  url('../fonts/futura/FuturaDemiC.woff') format('woff'),
  url('../fonts/futura/FuturaDemiC.woff2') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*, *:before, *:after {
  box-sizing: border-box;
}
body {
  font-family: 'Futura Book', sans-serif;
  font-size: 14px;
}
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  background-color: black;
  padding: 24px 0;
}
.container {
  width: 85%;
  max-width: 1256px;
  margin: auto;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: #E3B873;
  text-transform: uppercase;
}
.nav__item {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  margin-right: 40px;
  transition: color 0.2s;
}
.nav__item:hover {
  color: #E3B873;
}
.phone {
  color: #E3B873;
}
.contacts__phone {
  margin-right: 45px;
}
.button {
  padding: 13px 20px;
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
  background-color: #E3B873;
  color: #fff;
  font-size: 13px;
}
.button:hover {
  cursor: pointer;
  box-shadow: none;
}
.button--outline {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}
.button--primary {
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  transition: box-shadow 0.3s;
}
.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;
  background: black url(../img/hero-bg.jpg) no-repeat center / cover;
  height: 100vh;
  color: white;
}
.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.hero__content {
  position: relative;
  max-width: 670px;
}
.hero__text {
  font-size: 22px;
  max-width: 500px;
}
.hero__button {
  margin-right: 22px;
}
.hero__instagram {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 80px;
  height: 100%;
}
.hero__scroll-down {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  bottom: 0;
  min-width: 247px;
  min-height: 97px;
  background-color: black;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}
.hero__scroll-down::after {
  content: '';
  background: url(../img/arrow-down.svg) no-repeat center;
  width: 30px;
  height: 30px;
  border: 2px solid #E3B873;
  border-radius: 50%;
  margin-left: 12px;
}
.Instagram {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.instagram__link {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #E3B873;
  text-decoration: none;
  transform: rotate(90deg);
  line-height: 0.8;
}
.instagram__link::after {
  content: '';
  width: 50px;
  height: 1px;
  background-color: #E3B873;
  margin-left: 8px;
}
.title {
  margin: 0;
  font-family: 'Yeseva One', cursive;
  text-transform: uppercase;
  font-size: 40px;
}
.title--primary {
  color: #E3B873;
}
